In [23]:
import pandas as pd
import sqlite3

#read webscrapping data
df_atm = pd.read_csv('/Users/dunghoang/GitHub/SupplyChain/csv_files/atm.csv')
df_company_details = pd.read_csv('/Users/dunghoang/GitHub/SupplyChain/csv_files/company_details.csv')
df_reviews = pd.read_csv('/Users/dunghoang/GitHub/SupplyChain/csv_files/reviews.csv')

# Connect to the SQLite database or create a new one
conn = sqlite3.connect('PostgreSQL 15')

# Create a cursor object to interact with the database
cursor = conn.cursor()

In [24]:
# ATM TABLE
#create atm table
create_table_atm = '''
CREATE TABLE IF NOT EXISTS atm (
    company_id INTEGER,
    company_name TEXT,
    trustscore INTEGER,
    total_reviews INTEGER,
    domain TEXT
)
'''
cursor.execute(create_table_atm)

# Insert data into the table using pandas DataFrame
df_atm.to_sql('atm', conn, if_exists='append', index=False)

# Commit the changes to the database
conn.commit()

# Read the table into a pandas DataFrame
df_preview = pd.read_sql_query('SELECT * FROM atm', conn)

# Display the DataFrame
print(df_preview)

    company_id                                    company_name  trustscore  \
0          110                          Evergreen Credit Union         4.9
1          111                      Liberty First Credit Union         4.8
2          112                              Crypto Dispensers          2.3
3          113                                         Swadesh         4.4
4          114            Heritage Valley Federal Credit Union         4.1
5          115                                  The Payment HQ         3.8
6          116                                        ASDFTEST         3.7
7          117  WPC Merchant Services & Credit Card Processing         3.7
8          118                                Kryptominerstech         3.7
9          119                           Meriwest Credit Union         3.5
10        1111                               cryptobaseatm.com         3.0
11        1112                                        NorthOne         2.9
12        1113                             Coinhub Bitcoin ATM         2.9
13        1114                                    Cash Express         2.8
14        1115                                 Asic Miners Rig         2.3
15        1116                                   Asicminertech         2.2
16        1117                                      Coin Cloud         1.9
17        1118                                        PNC Bank         1.3
18         110                          Evergreen Credit Union         4.9
19         111                      Liberty First Credit Union         4.8
20         112                              Crypto Dispensers          2.3
21         113                                         Swadesh         4.4
22         114            Heritage Valley Federal Credit Union         4.1
23         115                                  The Payment HQ         3.8
24         116                                        ASDFTEST         3.7
25         117  WPC Merchant Services & Credit Card Processing         3.7
26         118                                Kryptominerstech         3.7
27         119                           Meriwest Credit Union         3.5
28        1111                               cryptobaseatm.com         3.0
29        1112                                        NorthOne         2.9
30        1113                             Coinhub Bitcoin ATM         2.9
31        1114                                    Cash Express         2.8
32        1115                                 Asic Miners Rig         2.3
33        1116                                   Asicminertech         2.2
34        1117                                      Coin Cloud         1.9
35        1118                                        PNC Bank         1.3
36         110                          Evergreen Credit Union         4.9
37         111                      Liberty First Credit Union         4.8
38         112                              Crypto Dispensers          2.3
39         113                                         Swadesh         4.4
40         114            Heritage Valley Federal Credit Union         4.1
41         115                                  The Payment HQ         3.8
42         116                                        ASDFTEST         3.7
43         117  WPC Merchant Services & Credit Card Processing         3.7
44         118                                Kryptominerstech         3.7
45         119                           Meriwest Credit Union         3.5
46        1111                               cryptobaseatm.com         3.0
47        1112                                        NorthOne         2.9
48        1113                             Coinhub Bitcoin ATM         2.9
49        1114                                    Cash Express         2.8
50        1115                                 Asic Miners Rig         2.3
51        1116                                   Asicminertech         2.2
52        1117                                      Coin Cloud         1.9
53        1118                                        PNC Bank         1.3

    total_reviews                                             domain
0             227             ATM·Credit Union·Financial Institution
1             204  ATM·Mortgage Lender·Financial Institution·Car ...
2             131  ATM·Investment Service·Non-Bank Financial Serv...
3              11  Money Transfer Service·Financial Institution·A...
4              11  ATM·Bank·Federal Credit Union·Financial Instit...
5               2  Business to Business Service·Payment Service·F...
6               1                                                ATM
7               1                   ATM·Business to Business Service
8               1  Gold Mining Company·Business Center·Cryptocurr...
9               8  Credit Counseling Service·Car Finance and Loan...
10              4                         Cryptocurrency Service·ATM
11            122  Financial Institution·ATM·Money Transfer Servi...
12              2  Cryptocurrency Service·ATM·Currency Exchange S...
13             12  Check Cashing Service·ATM·Alternative Financia...
14              6  Money Order Service·Money Transfer Service·ATM...
15             28  Coin Dealer·Cryptocurrency Service·ATM·Mining ...
16            112  ATM·Cryptocurrency Service·Non-Bank Financial ...
17            888                                           Bank·ATM
18            227             ATM·Credit Union·Financial Institution
19            204  ATM·Mortgage Lender·Financial Institution·Car ...
20            131  ATM·Investment Service·Non-Bank Financial Serv...
21             11  Money Transfer Service·Financial Institution·A...
22             11  ATM·Bank·Federal Credit Union·Financial Instit...
23              2  Business to Business Service·Payment Service·F...
24              1                                                ATM
25              1                   ATM·Business to Business Service
26              1  Gold Mining Company·Business Center·Cryptocurr...
27              8  Credit Counseling Service·Car Finance and Loan...
28              4                         Cryptocurrency Service·ATM
29            122  Financial Institution·ATM·Money Transfer Servi...
30              2  Cryptocurrency Service·ATM·Currency Exchange S...
31             12  Check Cashing Service·ATM·Alternative Financia...
32              6  Money Order Service·Money Transfer Service·ATM...
33             28  Coin Dealer·Cryptocurrency Service·ATM·Mining ...
34            112  ATM·Cryptocurrency Service·Non-Bank Financial ...
35            888                                           Bank·ATM
36            227             ATM·Credit Union·Financial Institution
37            204  ATM·Mortgage Lender·Financial Institution·Car ...
38            131  ATM·Investment Service·Non-Bank Financial Serv...
39             11  Money Transfer Service·Financial Institution·A...
40             11  ATM·Bank·Federal Credit Union·Financial Instit...
41              2  Business to Business Service·Payment Service·F...
42              1                                                ATM
43              1                   ATM·Business to Business Service
44              1  Gold Mining Company·Business Center·Cryptocurr...
45              8  Credit Counseling Service·Car Finance and Loan...
46              4                         Cryptocurrency Service·ATM
47            122  Financial Institution·ATM·Money Transfer Servi...
48              2  Cryptocurrency Service·ATM·Currency Exchange S...
49             12  Check Cashing Service·ATM·Alternative Financia...
50              6  Money Order Service·Money Transfer Service·ATM...
51             28  Coin Dealer·Cryptocurrency Service·ATM·Mining ...
52            112  ATM·Cryptocurrency Service·Non-Bank Financial ...
53            888                                           Bank·ATM

In [25]:
# COMPANY_DETAILS TABLE

#create company_details table
create_table_company_details = '''
CREATE TABLE IF NOT EXISTS company_details (
    company_name TEXT,
    rating_class INT,
    star_5 TEXT,
    star_4 TEXT,
    star_3 TEXT,
    star_2 TEXT,
    star_1 TEXT,
    'total_reviews' INT
)
'''
cursor.execute(create_table_company_details)

# Insert data into the table using pandas DataFrame
df_company_details.to_sql('company_details', conn, if_exists='append', index=False)

# Commit the changes to the database
conn.commit()

# Read the table into a pandas DataFrame
df_preview = pd.read_sql_query('SELECT * FROM company_details', conn)

# Display the DataFrame
print(df_preview)

                                      company_name rating_class star_5 star_4  \
0             Heritage Valley Federal Credit Union        Great    82%     0%
1                                         ASDFTEST      Average   100%     0%
2                              Coinhub Bitcoin ATM      Average     0%     0%
3   WPC Merchant Services & Credit Card Processing      Average   100%     0%
4                                     Cash Express      Average    25%    17%
5                                         PNC Bank          Bad     5%     1%
6                       Liberty First Credit Union    Excellent    93%     3%
7                            Meriwest Credit Union      Average    62%    13%
8                                         NorthOne      Average    40%     7%
9                                   The Payment HQ        Great   100%     0%
10                                   Asicminertech         Poor    14%     7%
11                          Evergreen Credit Union    Excellent    96%     2%
12                               cryptobaseatm.com      Average    50%     0%
13                                 Asic Miners Rig         Poor     0%     0%
14                                      Coin Cloud         Poor    13%     4%
15                                Kryptominerstech      Average   100%     0%
16                               Crypto Dispensers         Poor    44%     7%
17                                         Swadesh    Excellent   100%     0%
18            Heritage Valley Federal Credit Union        Great    82%     0%
19                                        ASDFTEST      Average   100%     0%
20                             Coinhub Bitcoin ATM      Average     0%     0%
21  WPC Merchant Services & Credit Card Processing      Average   100%     0%
22                                    Cash Express      Average    25%    17%
23                                        PNC Bank          Bad     5%     1%
24                      Liberty First Credit Union    Excellent    93%     3%
25                           Meriwest Credit Union      Average    62%    13%
26                                        NorthOne      Average    40%     7%
27                                  The Payment HQ        Great   100%     0%
28                                   Asicminertech         Poor    14%     7%
29                          Evergreen Credit Union    Excellent    96%     2%
30                               cryptobaseatm.com      Average    50%     0%
31                                 Asic Miners Rig         Poor     0%     0%
32                                      Coin Cloud         Poor    13%     4%
33                                Kryptominerstech      Average   100%     0%
34                               Crypto Dispensers         Poor    44%     7%
35                                         Swadesh    Excellent   100%     0%
36            Heritage Valley Federal Credit Union        Great    82%     0%
37                                        ASDFTEST      Average   100%     0%
38                             Coinhub Bitcoin ATM      Average     0%     0%
39  WPC Merchant Services & Credit Card Processing      Average   100%     0%
40                                    Cash Express      Average    25%    17%
41                                        PNC Bank          Bad     5%     1%
42                      Liberty First Credit Union    Excellent    93%     3%
43                           Meriwest Credit Union      Average    62%    13%
44                                        NorthOne      Average    40%     7%
45                                  The Payment HQ        Great   100%     0%
46                                   Asicminertech         Poor    14%     7%
47                          Evergreen Credit Union    Excellent    96%     2%
48                               cryptobaseatm.com      Average    50%     0%
49                                 Asic Miners Rig         Poor     0%     0%
50                                      Coin Cloud         Poor    13%     4%
51                                Kryptominerstech      Average   100%     0%
52                               Crypto Dispensers         Poor    44%     7%
53                                         Swadesh    Excellent   100%     0%

   star_3 star_2 star_1 total_reviews
0      9%     9%     0%           11
1      0%     0%     0%            1
2      0%     0%   100%            2
3      0%     0%     0%            1
4      8%     8%    42%           12
5      2%     4%    88%          888
6      2%    <1%    <1%          204
7      0%     0%    25%            8
8      2%     3%    48%          122
9      0%     0%     0%            2
10     0%     4%    75%           28
11    <1%    <1%    <1%          227
12     0%     0%    50%            4
13     0%     0%   100%            6
14     5%    12%    66%          112
15     0%     0%     0%            1
16     5%     5%    39%          131
17     0%     0%     0%           11
18     9%     9%     0%           11
19     0%     0%     0%            1
20     0%     0%   100%            2
21     0%     0%     0%            1
22     8%     8%    42%           12
23     2%     4%    88%          888
24     2%    <1%    <1%          204
25     0%     0%    25%            8
26     2%     3%    48%          122
27     0%     0%     0%            2
28     0%     4%    75%           28
29    <1%    <1%    <1%          227
30     0%     0%    50%            4
31     0%     0%   100%            6
32     5%    12%    66%          112
33     0%     0%     0%            1
34     5%     5%    39%          131
35     0%     0%     0%           11
36     9%     9%     0%           11
37     0%     0%     0%            1
38     0%     0%   100%            2
39     0%     0%     0%            1
40     8%     8%    42%           12
41     2%     4%    88%          888
42     2%    <1%    <1%          204
43     0%     0%    25%            8
44     2%     3%    48%          122
45     0%     0%     0%            2
46     0%     4%    75%           28
47    <1%    <1%    <1%          227
48     0%     0%    50%            4
49     0%     0%   100%            6
50     5%    12%    66%          112
51     0%     0%     0%            1
52     5%     5%    39%          131
53     0%     0%     0%           11

In [26]:
# REVEWS TABLE

#create reviews table
create_table_reviews = '''
CREATE TABLE IF NOT EXISTS reviews (
    company_name TEXT,
    review_star TEXT,
    review_title TEXT,
    reviewer_name TEXT,
    review_text TEXT,
    experience_date TEXT,
    review_date DATE,
    reply_date TEXT,
    reply_text TEXT
)
'''
cursor.execute(create_table_reviews)

# Insert data into the table using pandas DataFrame
df_reviews.to_sql('reviews', conn, if_exists='append', index=False)

# Commit the changes to the database
conn.commit()

# Read the table into a pandas DataFrame
df_preview = pd.read_sql_query('SELECT * FROM reviews', conn)

# Display the DataFrame
print(df_preview)

     company_name review_star                             review_title  \
0         Swadesh  5 out of 5               International transactions
1         Swadesh  5 out of 5  Swadesh is a good app safely and truly…
2         Swadesh  5 out of 5                                  Because
3         Swadesh  5 out of 5                    Cross border payments
4         Swadesh  5 out of 5                            Cool Benefits
...           ...         ...                                      ...
5311      Swadesh  5 out of 5                        Banking in the US
5312      Swadesh  5 out of 5               Made for Indians in the US
5313      Swadesh  5 out of 5                              Easy to use
5314      Swadesh  5 out of 5             Working experience is 4years
5315      Swadesh  5 out of 5                           Swadeshi Feels

                  reviewer_name  \
0                      Eric Low
1                  Hamza masood
2               Abdulaziz Aliye
3     Nagaraju Doddasomanahalli
4              Vignesh N Shetty
...                         ...
5311                   Roopa DN
5312              Hemanth Gowda
5313        Sumukha Sundareshan
5314          Singhmahesh Nayak
5315              Suhas Sharade

                                            review_text    experience_date  \
0     Very easy to do cross border transactions - th...      July 05, 2023
1     Swadesh is a good app safely and truly app thi...      July 16, 2023
2                               I'm poor people help me    August 10, 2023
3     Transferred regular amounts from US to India f...  November 09, 2022
4     Just downloaded the app to manage my expenses ...  December 09, 2022
...                                                 ...                ...
5311  Day to day transactions were much easier to ma...  November 22, 2022
5312  Best app for managing finances for students/ p...   January 01, 2023
5313  Easy to use. Got a free sim card along woth Sw...   January 02, 2023
5314                                               None      July 13, 2023
5315                              Easy UI. Very helpful  November 01, 2022

     review_date reply_date reply_text
0     2023-07-25       None       None
1     2023-07-18       None       None
2     2023-08-12       None       None
3     2023-01-05       None       None
4     2023-01-06       None       None
...          ...        ...        ...
5311  2023-01-05       None       None
5312  2023-01-05       None       None
5313  2023-01-05       None       None
5314  2023-07-13       None       None
5315  2023-01-05       None       None

[5316 rows x 9 columns]

In [34]:
# JOIN INTO COMPANIES_WITHID TABLE

#create reviews table
create_table_atmcompanies_withids= '''
CREATE TABLE IF NOT EXISTS atmcompanies_withid (
    company_id INTEGER PRIMARY KEY,
    company_name TEXT,
    trustscore INTEGER,
    total_reviews INTEGER,
    domain TEXT,
    rating_class INTEGER,
    star_5 TEXT,
    star_4 TEXT,
    star_3 TEXT,
    star_2 TEXT,
    star_1 TEXT
)
'''
conn.execute(create_table_atmcompanies_withids)
cursor.execute(create_table_atmcompanies_withids)

# SQL code for the INSERT operation
insert_sql = '''
INSERT INTO atmcompanies_withid (company_id, company_name, trustscore, total_reviews, domain, rating_class, star_5, star_4, star_3, star_2, star_1)
SELECT
    atm.company_id,
    atm.company_name,
    atm.trustscore,
    atm.total_reviews,
    atm.domain,
    cd.rating_class,
    cd.star_5,
    cd.star_4,
    cd.star_3,
    cd.star_2,
    cd.star_1
FROM atm AS atm
INNER JOIN company_details AS cd ON atm.company_name = cd.company_name
'''

# Commit the changes to the database
conn.commit()

# Read the table into a pandas DataFrame
df_preview = pd.read_sql_query('SELECT * FROM atmcompanies_withid', conn)

# Display the DataFrame
print(df_preview)

# Export the DataFrame to a CSV file
#df_preview.to_csv('atmcompanies_withid.csv', index=False)

#print("CSV file exported successfully.")

Empty DataFrame
Columns: [company_id, company_name, trustscore, total_reviews, domain, rating_class, star_5, star_4, star_3, star_2, star_1]
Index: []

In [28]:
# GENERATE REVIEW IDS

# Generate review IDs using pandas DataFrame method
df_reviews_withid = df_reviews.reset_index().rename(columns={'index': 'review_id'})

print(df_reviews_withid)

      review_id company_name review_star  \
0             0      Swadesh  5 out of 5
1             1      Swadesh  5 out of 5
2             2      Swadesh  5 out of 5
3             3      Swadesh  5 out of 5
4             4      Swadesh  5 out of 5
...         ...          ...         ...
1767       1767      Swadesh  5 out of 5
1768       1768      Swadesh  5 out of 5
1769       1769      Swadesh  5 out of 5
1770       1770      Swadesh  5 out of 5
1771       1771      Swadesh  5 out of 5

                                 review_title              reviewer_name  \
0                  International transactions                   Eric Low
1     Swadesh is a good app safely and truly…               Hamza masood
2                                     Because            Abdulaziz Aliye
3                       Cross border payments  Nagaraju Doddasomanahalli
4                               Cool Benefits           Vignesh N Shetty
...                                       ...                        ...
1767                        Banking in the US                   Roopa DN
1768               Made for Indians in the US              Hemanth Gowda
1769                              Easy to use        Sumukha Sundareshan
1770             Working experience is 4years          Singhmahesh Nayak
1771                           Swadeshi Feels              Suhas Sharade

                                            review_text    experience_date  \
0     Very easy to do cross border transactions - th...      July 05, 2023
1     Swadesh is a good app safely and truly app thi...      July 16, 2023
2                               I'm poor people help me    August 10, 2023
3     Transferred regular amounts from US to India f...  November 09, 2022
4     Just downloaded the app to manage my expenses ...  December 09, 2022
...                                                 ...                ...
1767  Day to day transactions were much easier to ma...  November 22, 2022
1768  Best app for managing finances for students/ p...   January 01, 2023
1769  Easy to use. Got a free sim card along woth Sw...   January 02, 2023
1770                                                NaN      July 13, 2023
1771                              Easy UI. Very helpful  November 01, 2022

     review_date reply_date reply_text
0     2023-07-25        NaN        NaN
1     2023-07-18        NaN        NaN
2     2023-08-12        NaN        NaN
3     2023-01-05        NaN        NaN
4     2023-01-06        NaN        NaN
...          ...        ...        ...
1767  2023-01-05        NaN        NaN
1768  2023-01-05        NaN        NaN
1769  2023-01-05        NaN        NaN
1770  2023-07-13        NaN        NaN
1771  2023-01-05        NaN        NaN

[1772 rows x 10 columns]

In [31]:
import pandas as pd
import sqlite3

# Connect to the SQLite database or use the existing connection
conn = sqlite3.connect('PostgreSQL 15')

# Read the 'reviews_withid' and 'atmcompanies_withid' tables into pandas DataFrames
df_reviews_withid = pd.read_sql_query('SELECT * FROM reviews_withid', conn)
df_atmcompanies_withid = pd.read_sql_query('SELECT * FROM atmcompanies_withid', conn)

# Check if the DataFrames are loaded correctly
print("reviews_withid DataFrame:")
print(df_reviews_withid)

print("\natmcompanies_withid DataFrame:")
print(df_atmcompanies_withid)

# Close the connection
conn.close()

DatabaseError: Execution failed on sql 'SELECT * FROM reviews_withid': no such table: reviews_withid

In [33]:
#CREATE TABLE WITH REVIEW IDS

# Create the 'reviews_withid' table
create_table_reviews_withid = '''
CREATE TABLE IF NOT EXISTS reviews_withid (
    review_id INTEGER PRIMARY KEY,
    company_name TEXT,
    review_star TEXT,
    review_title TEXT,
    reviewer_name TEXT,
    review_text TEXT,
    experience_date TEXT,
    review_date DATE,
    reply_date TEXT,
    reply_text TEXT
)
'''
conn.execute(create_table_reviews_withid)

# Insert data into the 'reviews_withid' table using pandas DataFrame
df_reviews_withid.to_sql('reviews_withid', conn, if_exists='replace', index=False)

# Commit the changes to the database
conn.commit()

# Read the 'reviews_withid' table into a pandas DataFrame
df_preview_reviews_withid = pd.read_sql_query('SELECT * FROM reviews_withid', conn)

# write to new csv file: 
df_preview_reviews_withid.to_csv('/Users/dunghoang/GitHub/SupplyChain/csv_files/reviews_withallids.csv', index=False)
# Display the DataFrame
print(df_preview_reviews_withid)

      review_id company_name review_star  \
0             0      Swadesh  5 out of 5
1             1      Swadesh  5 out of 5
2             2      Swadesh  5 out of 5
3             3      Swadesh  5 out of 5
4             4      Swadesh  5 out of 5
...         ...          ...         ...
1767       1767      Swadesh  5 out of 5
1768       1768      Swadesh  5 out of 5
1769       1769      Swadesh  5 out of 5
1770       1770      Swadesh  5 out of 5
1771       1771      Swadesh  5 out of 5

                                 review_title              reviewer_name  \
0                  International transactions                   Eric Low
1     Swadesh is a good app safely and truly…               Hamza masood
2                                     Because            Abdulaziz Aliye
3                       Cross border payments  Nagaraju Doddasomanahalli
4                               Cool Benefits           Vignesh N Shetty
...                                       ...                        ...
1767                        Banking in the US                   Roopa DN
1768               Made for Indians in the US              Hemanth Gowda
1769                              Easy to use        Sumukha Sundareshan
1770             Working experience is 4years          Singhmahesh Nayak
1771                           Swadeshi Feels              Suhas Sharade

                                            review_text    experience_date  \
0     Very easy to do cross border transactions - th...      July 05, 2023
1     Swadesh is a good app safely and truly app thi...      July 16, 2023
2                               I'm poor people help me    August 10, 2023
3     Transferred regular amounts from US to India f...  November 09, 2022
4     Just downloaded the app to manage my expenses ...  December 09, 2022
...                                                 ...                ...
1767  Day to day transactions were much easier to ma...  November 22, 2022
1768  Best app for managing finances for students/ p...   January 01, 2023
1769  Easy to use. Got a free sim card along woth Sw...   January 02, 2023
1770                                               None      July 13, 2023
1771                              Easy UI. Very helpful  November 01, 2022

     review_date reply_date reply_text
0     2023-07-25       None       None
1     2023-07-18       None       None
2     2023-08-12       None       None
3     2023-01-05       None       None
4     2023-01-06       None       None
...          ...        ...        ...
1767  2023-01-05       None       None
1768  2023-01-05       None       None
1769  2023-01-05       None       None
1770  2023-07-13       None       None
1771  2023-01-05       None       None

[1772 rows x 10 columns]

In [ ]:

#CREATE TABLE WITH REVIEW AND JOIN COMPANY IDS
# Create the 'reviews_withallids' table

create_table_reviews_withallids = '''
CREATE TABLE IF NOT EXISTS reviews_withallids (
    review_id INTEGER PRIMARY KEY,
    company_id INT, 
    company_name TEXT,
    review_star TEXT,
    review_title TEXT,
    reviewer_name TEXT,
    review_text TEXT,
    experience_date TEXT,
    review_date DATE,
    reply_date TEXT,
    reply_text TEXT
)
'''

cursor.execute(create_table_reviews_withallids)
conn.commit()

# SQL code for the INSERT operation
insert_into_review_sql = '''
INSERT INTO reviews_withallids (review_id, company_id, company_name, review_star, review_title, reviewer_name, review_text, experience_date, review_date, reply_date, reply_text)
SELECT
    r.review_id,
    a.company_id,
    r.company_name,
    r.review_star,
    r.review_title,
    r.reviewer_name,
    r.review_text,
    r.experience_date,
    r.review_date,
    r.reply_date,
    r.reply_text
FROM reviews_withid AS r
JOIN atmcompanies_withid AS a ON r.company_name = a.company_name
'''

cursor.execute(insert_into_review_sql)
conn.commit()

In [30]:
# READ AND PRINT THE TABLE REVIEWS WITH ALL IDS

# Read the 'reviews_withid' table into a pandas DataFrame
df_preview_reviews_withallids = pd.read_sql_query('SELECT * FROM reviews_withallids', conn)

# Display the DataFrame
print(df_preview_reviews_withallids)

# Export the DataFrame to a CSV file
df_preview_reviews_withallids.to_csv('reviews_withallids.csv', index=False)

print("CSV file exported successfully.")

DatabaseError: Execution failed on sql 'SELECT * FROM reviews_withallids': no such table: reviews_withallids